*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}
html{
    
    font-size: 80%;
}

.card-parent{
    background-color: #fff;
}


.card-container{
    height: 90vh;
    
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 8rem;
    display: flex;
    padding: 3rem;
    gap: 1.2rem;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    box-shadow: 0 4px 8px 0 #1f1f1f;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
.card-child{
    height: 50vh;
    width: 30vw;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 8rem;
    display: flex;
    padding: 3rem;
    gap: 1.2rem;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    box-shadow: 0 4px 8px 0 #1f1f1f;
    transition: 0.3s;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
#imgTemp{
    width: 24vw;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),  0 3px 6px rgba(0, 0, 0, 0.23);

}
.btn{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 3rem;
      
        border: 0.1rem solid rgba(255,255,255,0.6);
        box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),  0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 0.4rem;
        background-color:transparent;
        text-decoration: none;
        color: white;
        transition: 30ms ease;
}
   
.btn:hover{
        
   
    text-decoration: none;
    color:white;
   
}
@media (max-width:1440px) {
    .card-child{
        height: 25rem;
        width: 35rem;
        padding: 0;
        margin: 0;
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    .btn{
        width: 10rem;
    }
    #imgTemp{
        width: 15vw;
        border-radius: 1rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),  0 3px 6px rgba(0, 0, 0, 0.23);
    
    }
}
    @media (max-width:2560px) {
        .card-child{
            height:35rem;
            width: 60rem;
            padding: 0;
            margin: 0;
        }
        .card-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8rem;
          
        }
        .btn{
            width: 10rem;
        }
        #imgTemp{
            width: 10vw;
            border-radius: 1rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),  0 3px 6px rgba(0, 0, 0, 0.23);
        
        }
    
    
    
    }
@media (max-width:1024px) {
    .card-child{
        height: 13rem;
        width: 15rem;
        padding: 0;
        margin: 0;
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    .btn{
        width: 10rem;
    }
    #imgTemp{
        width: 10vw;
        border-radius: 1rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),  0 3px 6px rgba(0, 0, 0, 0.23);
    
    }



}
@media (max-width:425px) {
    .card-child{
        height: 13rem;
        width: 15rem;
        padding: 0;
        margin: 0;
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn{
        width: 10rem;
    }



}
@media (max-width:375px) {

    .card-child{
        height: 13rem;
        width: 15rem;
        padding: 0;
        margin: 0;
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn{
        width: 10rem;
    }



}
@media (max-width:320px) {

    .card-child{
        height: 13rem;
        width: 15rem;
        padding: 0;
        margin: 0;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 10rem;
    }



}
